<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<!-- para llamar al contexto raiz de la aplicacion desde un jsp con EL ejem:
		http://localhost:8080/${initParam.appname}/ -->
	<context-param>
		<param-name>appname</param-name>
		<param-value>plantillaweb</param-value> <!-- ver context root -->
	</context-param>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>